// secrets.h - Esimerkki tiedostosta salaisuuksia varten
#ifndef SECRETS_H
#define SECRETS_H
const char* SECRET_SSID = "oma-wifi-nimi";
const char* SECRET_PASSWORD = "oma-wifi-salasana";
const char* SECRET_OTAPASSWORD = "ota-salasana";
const char* SECRET_API_KEY = "oma-api-avain";
const char* SECRET_BACKEND_HOST = "oma-backend.onrender.com";
#endif